.App {
  text-align: center;
}

#input{
  inline-size: 100px;
}

body{
  background-color: lightseagreen;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

